
#navbar{
    object-fit:contain;
}
body{
    overflow-x: hidden;
    object-fit: scale-down;
}

#main{
    width: 96%;
    margin: auto;
    border:1px solid green;
    margin-top: 20px;
    overflow: hidden;
    object-fit: scale-down;
}

#clothes{
    border: 1px solid rgb(255, 94, 0);
    margin: auto;
    padding: 2vh 0px;
    width: 85%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 18vh 10%;
    object-fit: scale-down;
    padding: 8px 30px;
}
#clothes>div{
    background-color: #F5F5DC ; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 420px;
    text-align:center;
    border-radius: 10px;
   color: #333;
   text-transform: capitalize;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
#clothes>div>p{
    color: #800000;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bolder;
}
#clothes>div>div{
    height: 300px;
    overflow: hidden;
    background-color: #fffafa;
    border: 3px solid gold;
}

#clothes>div img{
    object-fit: contain;
    width: 90%;
    height: 100%;
}
#clothes>div>div>img:hover{
    cursor: pointer;
   transition: 1s ease-out;
   scale: 1.1;
}
/* #clothes>div >h1 */

.addcart{
    background-color: #A52A2A;
    text-transform: capitalize;
    font-size: large;
    font-weight: bold;
    margin-bottom: 5px;
    color: whitesmoke;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 4px 15px;
    border-radius: 5px;
    width: 55%;
    margin: auto;
}
.addcart:hover{
    background-color: rgba(1, 117, 1, 0.633);
    scale: 1.03;
    transition: 0.3s ease-in-out;
}


.select-wrapper {
  position: relative;
  width: 200px;
}

.custom-select {
    margin-left: 35px;
  appearance: none;
  outline: none;
  padding: 12px;
  width: 100%;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  background-image: linear-gradient(45deg, transparent 50%, #888 50%),
    linear-gradient(135deg, #888 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px);
  background-size: 5px 5px, 2px 2px;
  background-repeat: no-repeat;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.custom-select::-ms-expand {
  display: none;
}

.custom-select option {
  padding: 10px;
  font-size: 14px;
  background-color: #fff;
  color: #333;
}

.custom-select:hover,
.custom-select:focus {
  background-color: #eaeaea;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}



#sort{
    border: 1px solid rgb(255, 39, 237);
    height:9.5vh;
    padding-left: 50px;
    display: flex;
    padding-top: 0.5vh;
    padding: 0.5vh;
} 

a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
    cursor: pointer;
}