#recent{
    width: 100%;
    margin: auto;
    border: 0px solid red;
    margin-top: 50px;
    margin-bottom: 30px;
}
#recent_view{
    width: 100%;
    border: 0px solid green;
    overflow: hidden;
    overflow-x: scroll;
    display: flex;
    gap: 30px;
}
#recent_view>div{
    width: 250px;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
}
#recent_view>div img{
    width: 100%;
}