#cart{

    width: 70%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px
    ;
margin: auto;
text-align: center;


}
#cart>div{
    border: 1px solid grey;

    /* height: 400px; */
}
#cart>div>div{
   
    height: 370px;
    /* border: 1px solid grey; */
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}

#cart img{
    width: 58%;
}

#cart button{
  margin-bottom: 20px;
  width: 20%;

}














#shopping-bag-container {
    font-family: Roboto, Arial, sans-serif;
    width: 60%;
    background-color: rgb(255, 255, 255);
    margin: 10px auto;
}

#shopping-bag-container > hr {
    width: 100%;
}

#shopping-bag-sections {
    width: 35%;
    /* border: 1px solid rgb(167, 167, 167); */
    display: grid;
    grid-template-columns: 50% 50%;
    font-weight: 500;
    color: rgb(65, 65, 65);
    border: 1px solid rgb(190, 190, 190);
}

#shopping-bag-sections > * {
    padding: 15px;
    text-align: center;
}

#shopping-bag-tag {
    background-color: rgb(212, 212, 212);
    border: 1px solid rgb(212, 212, 212);
    border-radius: 3px;
}

#shopping-bag-data {
    color:rgb(44, 44, 44);
}

#shopping-bag-data-div {
    display: grid;
    grid-template-columns: 20% 45% 20% 15%;
    gap: 10px;
}

#shopping-bag-data-div-img > * {
    margin: 10px auto;
    width: 80%;
}

#shopping-bag-summary {
    display: grid;
    grid-template-columns: 35% 35%;
    gap: 30%;
}

#shipping-bag-subtotal {
    display: grid;
    grid-template-columns: 60% 40%;
    font-size: 18px;
    font-weight: 500;
}

#shipping-bag-checkout-btn {
    width: 100%;
    font-size: 20px;
    padding: 10px;
    border: 0px;
    background-color: black;
    color: white;
}

#shopping-bag-titles-name {
    font-size: 24px;
    font-weight: 500;
    color: rgb(51, 51, 51);
    letter-spacing: 1px;
}

#main-content a:hover {
    border-bottom: 2px solid black;
}

*{
    font-family: Arial,  sans-serif;
}
.footer {
    display: flex;
    background-color:whitesmoke;
    
}

.footer-col{
    flex-basis: 270px;
    padding:10px;

}
.heading{
    font-size: 24px;
    font-weight: 700;
}
.ul{
    list-style-type: none;
    text-align:start;
}

.ul > li{
    padding:7px;
    font-size: 15px;
 
}
.ul> li:hover{
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 1px;
}

.footer > p{
    flex-basis: 120px;
    margin-left: 60px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer > p:hover{
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 1px;
}



/* cart css */
.cartDiv{
width: 100%;
height: 400px;
/* border: 1px solid red; */
display: flex;
}
.cart1Div{
width: 10%;
/* height: 300px; */
/* border: 1px solid green; */
display: grid;
grid-template-columns: auto;
grid-template-rows: 40% 60%;
margin-right: 5%;
}
.cart2Div{
width: 85%;
/* height: 300px; */
/* border: 1px solid green; */
display: grid;
grid-template-columns: auto;
grid-template-rows: 40% 40% 20%;
}
.cart1Child1Div{
/* width: 100%; */
/* border: 2px solid blue; */
}
.cart1Child2Div{
/* width: 100%; */
/* border: 2px solid blue; */
}
.cartImg{
width: 100%;
height: 100%;
}
.cart2Child1Div{
/* width: 100%; */
/* border: 2px solid blue; */
display: grid;
grid-template-columns: 50% 20%30%;
/* grid-template-rows: 50%, 20%, 30%; */
}
.cart2Child2Div{
/* width: 100%; */
/* border: 2px solid blue; */
}
.cart2Child3Div{
/* width: 100%; */
/* border: 2px solid blue; */
}
.cart2Child1Div1Child{
/* border: 2px solid orange; */
display: grid;
grid-template-columns: auto;
grid-template-rows: auto auto;
}
.cart2Child1Div2Child{
/* border: 2px solid orange; */
}
.cart2Child1Div3Child{
/* border: 2px solid orange; */
}
.cart2Child1Div1Child1Div{
/* border: 2px solid skyblue; */
margin-bottom: 4%;
width: 100%;
height: 50%;
}
.cart2Child1Div1Child2Div{
/* border: 2px solid purple; */
margin-bottom: 4%;
width: 100%;
height: 50%;
}
/* .cart2Child1Div1Child1Div */
.cart2Child1Div1Child1DivP1Tag{
height: 10%;
/* vertical-align: top; */
line-height: -20px;
margin-top: 0px;
}
.cart2Child1Div1Child1DivP2Tag{
height: 10%;
}
.cart2Child1Div1Child2DivP1Tag{
height: 10%;
margin-top: 0px;

}
.cart2Child1Div1Child2DivP2Tag{
height: 10%;

}
.cart2Child1Div3Child{
height: 90%;
/* border: 5px solid pink; */
}
.cart2Child1Div3Child1Div{
height: 20%;
/* border: 3px solid Teal; */
margin-bottom: 5%;
}
.cart2Child1Div3Child2Div{
height: 40%;
/* border: 3px solid Teal; */
margin-bottom: 5%;
font-size: 13px;
text-align: end;
}
.cart2Child1Div3Child1Div{
width: 100%;
height: 30%;
display: grid;
grid-template-columns: 50% 50%;
}
.cart2Child1Div3Child1Div2Child{
font-size: 13px;
text-align: end;
}
/* .cart2Child1Div3Child2Div{
} */
.vanImg{
width: 100%;
height: 50%;
}
.cart2Child2Div{
display: grid;
grid-template-columns: 15% 50%;
}
.cart2Child2Div1Child{
/* border: 2px solid yellow; */
margin-top: 10%;
}
.cart2Child2Div2Child{
/* border: 2px solid yellow; */
margin-top: 10%;
}
#shipping-bag-subtotal{
display: flex;
justify-content: space-between;
}



