*{
    /* margin: 0%;
    padding: 0%; */
    font-family: sans-serif;
}

#navbar{
    width: 100%;
    height: 150px;
    border: 1px solid red;
}
#main{
    width: 100%;
    height: auto;
    border: 2px solid green;
    margin-top: 20px;
    display: grid;
    grid-template-columns:15% 85%;
    
}

#filter_div{
    border: 1px solid red;
   
}

#product_div{
    border: 1px solid blue;
    box-sizing: content-box;
    
}
.filter_div{
     border-bottom:1px solid grey;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
    margin: auto;
    /* font-weight: bolder; */
    display: flex;
    justify-content: space-between;
    
}
.filter_div>div:nth-child(1){
    font-weight: bold;
    cursor: pointer;
}
.filter_div>div:nth-child(2){
    border: 0px solid red;
    font-size: 25px;
    color: grey;
}
#category{
    width: 100%;
    height: auto;
    border: 1px solid blue;
}
#category>div:nth-child(1){
    font-size: 8px;
}
#category_box{
    width: 100%;
    height: 20px;
    border: 1px solid yellow;
    display: flex;
    justify-content: space-evenly;
}
#clothes{
    border: 1px solid red;
    width: 100%;
    height: 95%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    overflow: hidden;
    overflow-y: scroll;
}
#clothes>div{
    border: 1px solid grey;
    height: auto;
}
#clothes>div img{
    width: 100%;
}