#regis{
width: 25%;
height: 330px;
border: 1px solid grey;
margin: auto;
margin-top: 100px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

border-radius: 5%;

}

#regis>input{

    width: 80%;
    height: 25px;
    margin-top: 15px;
margin-left: 9%;
                                 

}
#regis>h3{

margin-left: 20%;

}
#regis>select{
    margin-left: 9%;
    margin-top: 15px;
    width: 81%;
    height: 28px;

}
#regis>button{

margin-left: 32%;
margin-top:15px ;
width: 35%;
height: 30px;
background-color: black;
color: aliceblue;
border-radius: 5px;

}

#login{

    width: 25%;
height: 200px;
border: 1px solid grey;
margin: auto;
margin-top: 150px;

box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
border-radius: 5%;

}

#login>button{
    margin-left: 35%;
margin-top:15px ;
width: 35%;
height: 30px;
background-color: black;
color: aliceblue;
border-radius: 5px;
}

#login>h3{
    margin-left: 42%;
}

#login>input{
    width: 80%;
    height: 25px;
    margin-top: 10px;
margin-left: 9%;

}
#regis>p{
    font-size: small;
    margin-left: 20%;
}

#login>button:hover{
    background-color: grey;
}

#regis>button:hover{
    background-color: grey;

}


#signin{
    width: 90%;
height: 550px ;
display: flex;

/* border: 1px solid grey; */
margin: auto;
border-radius: 50px;
margin-top: 100px;

box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


