<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="signin.css">

</head>
<body>
    
<div id="signin">

            
<div id="regis">

    <h3>Sign In | Create Account</h3>
    <p>Enter your email to get started</p>
    <input id="name" type="text" placeholder="Name"><br>
    <input type="text" name="" id="email" placeholder="Email"><br>
<input type="text" name="" id="pass" placeholder="Password"><br>
<!-- <label for="">Role</label> -->
<select name="" id="pass">
<option value="admin">admin</option>
<option value="user">user</option>

</select><br>


<button>Submit</button>




</div>


<div id="login">
<h3>Login</h3>

<input type="text" name="" id="lemail" placeholder="Email"><br>
<input type="text" name="" id="lpass" placeholder="Password">
<button>Submit</button>

</div>



</div>

    </body>
    </html>
