#container{
    width: 90%;
    height: 600px;
    margin: auto;
    border: 0px solid red;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
#container>div{
    border: 0px solid brown;
}
#container>div:nth-child(1){
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap :10px;
}
#container>div:nth-child(2){
    padding-left: 30px;
}

#container>div:nth-child(1)>div{
    border: 0px solid green;
    height: auto;
}
#container>div:nth-child(1)>div img{
    width: 100%;
}
.title{
    color: rgb(37, 36, 36);
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 30px;
}
.price{
    color: red;
    margin-top: 30px;
    margin-bottom: 20px;

}
#container>div:nth-child(2) select{
    width: 80%;
    padding: 15px 10px;
    font-size: 20px;
}
#container>div:nth-child(2) button{
    width: 80%;
    margin-top: 30px;
    padding: 15px 10px;
    background-color: black;
    color: white;
    font-size: 20px;
}
#recent{
    width: 90%;
    margin: auto;
    border: 0px solid red;
    margin-top: 30px;
    margin-bottom: 30px;
}
#recent_view{
    width: 100%;
    border: 0px solid green;
    overflow: hidden;
    overflow-x: scroll;
    display: flex;
    gap: 30px;
}
#recent_view>div{
    width: 250px;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
}
#recent_view>div img{
    width: 100%;
}